.btn-sm {
    padding: .25rem 1rem;
}

/*------------------------------- Export Data ------------------------------------------------------------------------*/
.accordion-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: var(--color-bg-tertiary);
    border: 0;
    border-radius: 0;
}

.accordion-title {
    font-size: 1rem;
    margin: unset;
}

.accordion-body {
    padding: unset;
}

.accordion .list-group {
    border-radius: unset;
}

.accordion .list-group-item {
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: unset;
    border-left: unset;
    border-right: unset;
}
/*--------------------------------------------------------------------------------------------------------------------*/

/*------------------------------- Delete User -----------------------------------------------------------------------*/
#delete-warning-dialog .input-block {
    display: block;
    width: 100%;
}

.confirmation-phrase {
    font-style: italic;
    font-weight: 400;
}

.user-select-none {
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}
/*-------------------------------------------------------------------------------------------------------------------*/