article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

main {
    font-size: 14px;
}

img {
    border-style: none;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.h-3 {
    font-weight: 600 !important;
    font-size: 18px !important;
}

@media (min-width: 768px) {
    .h-3 {
        font-size: 20px !important;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active, a:hover {
    outline-width: 0;
}

.navbar a:hover, .btn:hover {
    text-decoration: none;
}

.container-lg {
    max-width: 1012px;
}

.container-lg, .container-xl {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1012px) {
    .p-responsive {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

@media (min-width: 544px) {
    .p-responsive {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

.p-responsive {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.avatar {
    background: var(--color-avatar-bg);
    border-radius: 6px;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.avatar-user {
    border-radius: 50% !important;
}

.flex-auto {
    flex: auto !important;
}

.lh-condensed {
    line-height: 1.25 !important;
}

.btn {
    font-size: unset;
}

.form-control.is-loading {
    padding-right: calc(1.5em + .75rem);
    background-image: url("../../../images/spinners/Broken_circle.gif");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.popover {
    background-color: var(--color-bg-canvas);
    background-image: linear-gradient(var(--color-input-tooltip-error-bg),var(--color-input-tooltip-error-bg));
    border-color: var(--color-input-tooltip-error-border);
    color: var(--color-input-tooltip-error-text);
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0 0;
    max-width: 450px;
    padding: 4px 8px;
    position: absolute;
    z-index: 10;
}

.bs-popover-bottom .popover-arrow::after {
    border-bottom-color: var(--color-alert-error-bg);
}

.popover-body {
    padding: unset;
    color: unset;
}